{% extends 'base.html' %}
{% block title %}{{post.title_tag}}{% endblock title%}

{% block content %}

<h1>{{post.title}}</h1>
<br/>
<small>posted at: {{post.post_date}}</small>
<small> By: {{post.author}}</small><br/>

{% if user.is_authenticated%}
    {% if post.author == request.user %}
        <a href="{% url 'updatepost' post.pk%}">edit</a>
        <a href="{% url 'deletepage' post.pk%}">delete</a>
        <hr>
    {% endif %}
{% endif %}
<br/>

{{post.body}}

<br/><br>

<a href="{% url 'home' %}" class="btn btn-secondary">back</a>

<br/><br/>
<hr>
<br/>

<form method='post' action="{% url 'like_post' post.id %}">
    {% csrf_token %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary">Like</button>
</form>

{% endblock content %}

