
{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>
<ul>
{% for post in object_list  %}
<li><a href="{% url 'article_detail_view' post.pk%}"> {{post.title}}</a> -{{post.author}}
    <small>-{{post.post_date}}
        {% if user.is_authenticated %}
            {% if post.author == request.user %}
                <a href="{% url 'updatepost' post.pk%}"> -(Edit)</a>
                <a href="{% url 'deletepage' post.pk%}">(Delete)</a>
            {% endif %}
        {% endif %}
        </small>
    <br/>
    {{post.body|slice:":100"}}...
</li>
{% endfor %} 
</ul>

{% endblock content %}

